<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <!--
       <add name="CorporateAssessmentEntities"
       connectionString="metadata=res://*/CorporateAssessmentModel.csdl|res://*/CorporateAssessmentModel.ssdl|res://*/CorporateAssessmentModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-F7HM1UEJ\SQLEXPRESS;initial catalog=EnneagramAssessment;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    -->
   
    <add name="CorporateAssessmentEntities" connectionString="metadata=res://*/CorporateAssessmentModel.csdl|res://*/CorporateAssessmentModel.ssdl|res://*/CorporateAssessmentModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=questadb.cirpbpm7tkaa.ap-south-1.rds.amazonaws.com;initial catalog=EnneagramAssessment;user id=questaLive;password=Welcome2023;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
   
  </connectionStrings>
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
